body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.screen {
  font-size: 32pt;
  line-height: 1.2em;
  margin-top: 1em;
}

.menu-area {
  text-align: center;
}

.main-menu .btn {
  font-size: 24pt;
}

.correct input {
  background-color: limegreen;
}

.incorrect input {
  background-color: pink;
}

.q {
  margin: 0.5em auto;
  text-align: center;
}

.q-term {
  width: 4.5em;
  display: inline-block;
  text-align: right;
}

.q input {
  width: 2em;
  padding: 0.2em;
}